# Ignore virtual environment directory
venv/
Video_Dataset/
wandb/
Squat/wandb/

# Ignore all .csv file to avoid large datasets 
*.csv

# Ignore all .so files (shared libraries)
*.so

# Ignore Git object files
.git/objects/

# Ignore temporary pack files
.git/objects/pack/tmp_pack_*wandb
